fastapi
uvicorn
streamlit

google-generativeai

sentence-transformers

faiss-cpu

PyMuPDF

langchain-text-splitters

langdetect

deep-translator

python-dotenv

numpy

pydantic

tqdm

python-multipart